~/.PlayOnLinux
CLUTTER_IM_MODULE=xim
/Paulo
P4/soubi
soshell/errors.txt
soshell/tmp1
soshell/tmp2
soshell/soshell
soshell/P6/
soshell/old/
soshell/lixo
soshell/tmp3
simulator java/lib/AbsoluteLayout.jar
duvidas_teste_3.odt
duvidas_teste_3.pdf
P4/soubi
P7/falha.png
P7/OK.png
Projecto/descrição.odt
Projecto/lerficheiro.c
Projecto/Projecto_SO_2020
Projecto/Projecto_v_2/filho1.prg
Projecto/Projecto_v_2/filho2.prg
Projecto/Projecto_v_2/lerFicheiros.c
Projecto/Projecto_v_2/main
Projecto/Projecto_v_2/main.c
Projecto/Projecto_v_2/Makefile
Projecto/Projecto_v_2/progenitor.prg
Projecto/Projecto_v_2/.vscode/launch.json
Projecto/Projecto_v_2/.vscode/tasks.json
simulator java/CPU.jar
simulator java/README.TXT
soshell/main.c
P4/soubi
Projecto/Projecto_SO_2020
